@tailwind base;
@tailwind components;
@tailwind utilities;

.nuxt-content {
}

.code-inline {
  @apply text-red-400 font-medium text-lg;
}


.nuxt-content > h2 {
  @apply text-[#8a4fff] leading-normal text-left text-2xl sm:text-3xl font-semibold md:leading-snug mt-24 mb-8;
}

.nuxt-content > h3 {
  @apply text-gray-800 text-left text-xl sm:text-2xl font-semibold mt-16 mb-3;
}

.nuxt-content > p {
  /* @apply mt-6 text-lg sm:text-xl text-left leading-8 md:leading-10; */
  @apply text-lg font-light text-gray-800 text-left mt-6 leading-8 md:leading-10;
}

ul {
  @apply list-disc list-inside;
}

li {
  @apply text-lg font-light text-gray-800 text-left leading-loose md:leading-loose;
}

.nuxt-content pre {
  @apply my-6 !important;
}

.nuxt-content img {
  @apply my-6 !important;
}

.nuxt-content a {
  @apply text-violet-500 font-semibold;
}

@layer base {
  html {
    font-family: Outfit, system-ui, sans-serif;
  }
}

.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.formkit-close {
  left: 0px !important;
  z-index: 999;
}
.formkit-subheader > p {
  margin-top: 0px !important;
  line-height: 1.5rem !important;
}
.formkit-powered-by-convertkit-container {
  display: none !important;
}

p code {
  @apply bg-[#c3cee3] py-1 px-2 text-[#263238] rounded-sm;
}